EDIT TWEET HERE

<form method="post" action="/tweets/<%= @tweet.id %>/edit">
  <input type="hidden" name="_method" value="patch">
  <textarea  cols="50" rows="5" label="Tweet" name="content"><%= "#{@tweet.content}" %></textarea>
  <br>
  <input type="submit" value="Finish">
</form>
