<h1>Welcome, To Twitter INDEX</h1>

<h3>ALL Tweets go here!</h3>

<br>

<% @tweets.each do |tweet| %>
<br>
<a href="/tweets/<%= tweet.id %>"><%= "#{tweet.id}" %></a>
<%= "#{tweet.content}" %>
<% end %>

<% if logged_in? != true %>
  <a href="/signup">Sign up</a>
  <a href="/login">Log in</a>
<% else %>
  <br></br>
  <a href="/logout">Log out</a>
<% end %>
