CREATE NEW TWEET HERE

<form method="post" action="/tweets">
  <textarea  cols="50" rows="5" label="Tweet" name="content" placeholder="Tweet it out"></textarea>
  <br>
  <button type="submit" value="submit">
</form>
