<h1>Fwitter Sign up page</h1>

<form method="post" action="/users/signup">

  <label for="username">username: </label>
  <input type="text" name="username" id="username"></input>

  <label for="username">email: </label>
  <input type="text" name="email" id="email"></input>

  <label for="password">password: </label>
  <input type="password" name="password" id="password">

  <input type="submit" value="Sign Up">
</form>
